body {
    margin:0px;
}
#mywebsite {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#landing {
    padding: 275px;
    text-align: center;
    background-image: url(../img/landing-img.jpg);
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,15,7,0.5),rgba(227,226,226,0.5)),url(../img/landing-img.jpg);
}
#landing h1 {
    color:white;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    line-height: 0.8px;
}
#landing p {
    color:white;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
}
#blog {
    padding-bottom: 100px;
    margin-left: 100px;
}
#blog h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 30px;
    padding-right: 80px;
}
#blog h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
#blog p {
    text-align: justify;
    font-size: 12px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}
img {
    width: 278px;
    height: 150px;
    align-items: center;
}
div:nth-child(5) {
    display: inline-block;
    height: 350px;
    width: 278px;
    border: 1px solid lightgray;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    background-color: whitesmoke;
    margin: 5px;
}
div:nth-child(4) {
    display: inline-block;
    height: 350px;
    width: 278px;
    border: 1px solid black;
    background-color: black;
    color: white;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    margin: 5px;
}
:nth-child(4) a{
color: white;
}
div:nth-child(3) {
    display: inline-block;
    height: 350px;
    width: 278px;
    border: 1px solid lightgray;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    background-color: whitesmoke;
    margin: 5px;
}
div:nth-child(2) {
    display: inline-block;
    height: 350px;
    width: 278px;
    border: 1px solid lightgray;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    background-color: whitesmoke;
    margin: 5px;
}
a {
    padding-left: 20px;
    font-size: 12px;
    text-decoration: none;
    color: gray;
}
a:hover {
    color :darkorange
}

#services {
    background-color: whitesmoke;
    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
}
#services h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    padding-left: 25px;
}
ul{
    display: flex;
    list-style-type: none;
    margin-left: 170px;
    margin-right: 50px;
}
li{
    margin: 15px;
    display: block;
    padding-left: auto;
    padding-right: auto;
    width: 100px;
    background-color: white;
    padding: 30px;
}
li:nth-child(1){
    background-color: orangered;
}
li:hover{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}